.row
  = form_with model: @game, local: true do |form|
    .mb-3
      = form.label :number_of_cards, class: 'form-label'
      = form.number_field :number_of_cards, in: 4..20, step: 2, class: 'form-control'
    = form.submit class: 'btn btn-outline-primary'
