- flash.each do |type, content|
  - if content.respond_to?('each')
    - content.each do |item|
      = render 'layouts/page/flash_msg', type: type, content: item
  - else
    = render 'layouts/page/flash_msg', type: type, content: content
