.row
  =form_with model: @card do |form|
    .mb-3
      = form.label :title, class: 'form-label'
      = form.text_field :title, value: @card.title, placeholder: "ex: This is card's title.", class: 'form-control'
    .mb-3
      = form.label :image, class: 'form-label'
      .form-file
        = form.file_field :image, accept: 'image/png,image/gif,image/jpeg', class: 'form-file-input', id: 'cardFile'
        %label.form-file-label{for: "cardFile"}
          %span.form-file-text= set_file_name(@card)
          %span.form-file-button Browse

    = form.submit class: 'btn btn-outline-primary'
