.flip-card
  .flip-card-front
    = image_tag @card.image
    .content
      %h5= @card.title

= link_to "Delete Card", @card, method: :delete, data: { confirm: "Are you sure?", disable_with: "Processing..."}, class: 'btn btn-outline-danger'
= link_to "Back", :back, class: 'btn btn-outline-dark'

.container
  .row
    = render 'cards/form'
